.faq {
  padding: 32px 0 60px;

  &__text-dropdown {
    position: relative;
    overflow: hidden;
    z-index: 50;

    &-active {
      height: 174px;
    }
  }

  &__question {
    font-weight: 500;
    line-height: 19px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 14.5px 32px 14.5px 8px;
    margin-bottom: 10px;

    svg {
      margin-left: 10px;
      transition: .4s;
    }
  }

  &__answer {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #6A6A6A;
    padding-left: 9px;
    border-left: 1px solid #EE3D48;
    margin-bottom: 14px;
    position: absolute;
    opacity: 0;
    transition: .6s;
    z-index: -1;
    height: 0;
  }

  &__text-dropdown-active {
    .faq__question {
      background: #EE3D48;
      color: white;

      svg {
        transform: rotate(180deg);
        transition: .4s;

        path {
          fill: #FFFFFF;
        }
      }
    }

    .faq__answer {
      height: 95px;
      opacity: 1;
    }
  }
}